
<!-- Jumbotron for quiz -->
<div class="jumbotron text-center">
    <div class=quizContainer>
        <div class=quizHelp>
            <div id="quiz"></div>
        </div>
        <div class="buttons">
            <button class="btn btn-primary" id="previous" (click)="showPreviousSlide()">Previous</button>
            <button class="btn btn-primary" id="next" (click)="showNextSlide()">Next</button>
            <button class="btn btn-primary" id="submit">Find a Program</button>
        </div>
    </div>
</div>
<div>

<p>Place Info About Selected Pathway Program</p>
