<!-- Footer -->
<footer class="page-footer font-small stylish-color-dark pt-4">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row mt-5 pt-5">

      <!-- Grid column -->
      <div class="col-md-4 mx-auto">
        <img style="width: 20rem;" src="../../assets/EIPLogoDarkMode.svg">

        <!-- Content -->
        <h5 class="pt-4 font-weight-bold text-uppercase">About Us</h5>
        <p>
          International programs and opportunities for engineering students at the University of Virginia present a picture of evolution. 
          New programs are being created by Engineering School faculty and new ideas for partnerships with institutions abroad emerge 
          perennially. Ideas and initiative for new opportunities come not only from faculty, but often from students.
        </p>

        <a class="btn btn-primary subtle" role="button"href="https://engineering.virginia.edu/international-programs">Visit our main page</a>

      </div>

      <!-- Grid column -->
      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-4 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Contact</h5>
        <p>
          <mdb-icon fas icon="home" ></mdb-icon> 
          <br>
          Office of Engineering International Programs
          Thornton Hall, Room B103
          <br>
          <br>
          351 McCormick Road
          P.O. Box 401108
          Charlottesville, VA 22904
        </p>
        <p>
          <mdb-icon fas icon="envelope" class="mr-1"></mdb-icon> 
          mel2j@virginia.edu
        </p>
        <p>
          <mdb-icon fas icon="phone" class="mr-1"></mdb-icon> 434-982-2004
        </p>
        

      </div>

      <div class="col-md-4 mx-auto">
      
        <!-- Content -->
        <h5 class="font-weight-bold text-uppercase mb-4">Feedback</h5>
        <a class="nav-link" routerLink="FeedbackPage" mdbWavesEffect>Tell us what you think of this website in this form</a>
      
      </div>

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <hr>

  <!-- Social buttons -->
  <ul class="list-unstyled list-inline text-center">
    <li class="list-inline-item">
      <!-- Facebook -->
      <a class="fb-ic" href="https://www.facebook.com/UVAEngineersAbroad" target="_blank" rel="noopener noreferrer">
        <mdb-icon fab icon="facebook" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
      </a>
    </li>
    <li class="list-inline-item">
      <!--Instagram-->
      <a class="ins-ic" href="https://www.instagram.com/uvaengineersabroad/" target="_blank" rel="noopener noreferrer"> 
        <mdb-icon fab icon="instagram" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
    </a>
    </li>

  
  </ul>
  <!-- Social buttons -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2022 Copyright:
    <a href="https://engineersabroad.uvacreate.virginia.edu/"> UVA Engineering International Office</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->