<form>
    <div class="form-group">
        <label for="exampleInputEmail1">Please enter your Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
            placeholder="Email Here">
        <small id="emailHelp" class="form-text text-muted">Just in case we need to reach out to you</small>
    </div>
    <div class="form-group">
        <label for="TextArea">What do you like about this website? Any favorite features?</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <div class="form-group">
        <label for="TextArea">What can be improved? Was there something that wasn't working as you expected?</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
</form>