@font-face {
  font-family: 'Athelas';
  font-style: normal;
  font-weight: 400;
  src: 
       url('../../assets/fonts/athelas/Athelas-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../assets/fonts/athelas/Athelas-Regular.woff') format('woff'), /* Modern Browsers */
       url('../../assets/fonts/athelas/Athelas-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
}
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin&display=swap');

body {
}
.form-control {
  box-shadow: none;
  font-weight: normal;
  font-size: 30px;
}
.form-control:focus {
  border-color: #e57200;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}
.navbar-header.col {
  padding: 0 !important;
}
.navbar {
  background: #fff;
  padding: 16px 5px 16px 5px;
}
.nav-link img {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  margin: -8px 0;
  float: left;
  margin-right: 10px;
}
.navbar .navbar-brand,
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  padding-left: 1rem;
  color: #134881;
}
.navbar .navbar-brand b {
  font-weight: bold;
}
.navbar .form-inline {
  display: inline-block;
}
.navbar .nav li {
  /* position: relative; */
}
.navbar .nav li a {
  font-size: 15px;
  font-family: 'Libre Franklin', sans-serif;
  color: black;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #000000;
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.navbar .nav li a:hover {
  color: black;
}
.navbar .nav .btn-primary,
.navbar .nav .btn-primary:active {
  color: #fff;
  padding-top: 8px;
  padding-bottom: 6px;
  vertical-align: middle;
  border: none;
}
.navbar .navbar-right li:first-child a {
  padding-right: 30px;
}

.navbar .dropdown-item {
  font-size: 16px;
  min-width: 22px;
}

.navbar .nav .get-started-btn {
  min-width: 120px;
  margin-top: 8px;
  margin-bottom: 8px;
}
.navbar ul.nav li.open > a.get-started-btn {
  color: #fff;
  background: #e57200 !important;
}
.navbar .dropdown-menu {
  border-radius: 1px;
  border-color: #e5e5e5;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}
.navbar .nav .dropdown-menu li {
  color: #888;
  font-weight: normal;
}
.navbar .nav .dropdown-menu li a,
.navbar .nav .dropdown-menu li a:hover,
.navbar .nav .dropdown-menu li a:focus {
  padding: 8px 20px;
  line-height: normal;
}
.navbar .navbar-form {
  border: none;
}
.navbar .dropdown-menu.form-wrapper {
  width: 280px;
  padding: 20px;
  left: auto;
  right: 0;
  font-size: 14px;
}
.navbar .dropdown-menu.form-wrapper a {
  color: #e57200;
  padding: 0 !important;
}
.navbar .dropdown-menu.form-wrapper a:hover {
  text-decoration: underline;
}
.navbar .form-wrapper .hint-text {
  text-align: center;
  margin-bottom: 15px;
  font-size: 13px;
}
.navbar .form-wrapper .form-footer {
  text-align: center;
  padding-top: 10px;
  font-size: 13px;
}
.navbar .form-wrapper .form-footer a:hover {
  text-decoration: underline;
}
.navbar .form-wrapper .checkbox-inline input {
  margin-top: 3px;
}
.or-seperator {
  margin-top: 32px;
  text-align: center;
  border-top: 1px solid #e0e0e0;
}
.or-seperator b {
  color: #666;
  padding: 0 8px;
  width: 30px;
  height: 30px;
  font-size: 13px;
  text-align: center;
  line-height: 26px;
  background: #fff;
  display: inline-block;
  border: 1px solid #e0e0e0;
  border-radius: 50%;
  position: relative;
  top: -15px;
  z-index: 1;
}

.navbar .navbar-right .dropdown-toggle::after {
  display: none;
}
