<nav class="navbar navbar-default navbar-expand-lg navbar-light">
	<div class="navbar-header d-flex col">
		<a class="navbar-brand" href="Homepage"><img style="width: 15rem;" src="../../assets/EIP_new_logo.svg"></a>  		
		<button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle navbar-toggler ml-auto">
			<span class="navbar-toggler-icon"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
	</div>
	
	<div id="navbarCollapse" class="collapse navbar-collapse justify-content-center">
		<ul class="nav navbar-nav">
			<li class="nav-item"><a  class="nav-link hover-underline-animation" routerLink="TransferDatabasePage" mdbWavesEffect>Find Courses</a></li>			
			<li class="nav-item "><a class="nav-link hover-underline-animation" routerLink="ProgramPlannerPage" mdbWavesEffect>Program Planner</a></li>
			<li class="nav-item"><a class="nav-link hover-underline-animation" routerLink="InternshipResearchPage" mdbWavesEffect>Research and Internship Programs</a></li>
		</ul>
		
		<div *ngIf="!loggedInStatus; else loggedInBlock" class="nav navbar-nav navbar-right ml-auto">	
			<ul class="nav navbar-nav navbar-right ml-auto">			
				<li class="nav-item">
					<a data-toggle="dropdown" class="nav-link dropdown-toggle" href="#">Login</a>
					<ul class="dropdown-menu form-wrapper" onclick= "event.stopPropagation()">					
						<li>
							<form #loginForm="ngForm" (ngSubmit)="onSubmitLogin(loginForm.value)" >
								<p class="hint-text">Login to get access to additional features</p>
								<div class="or-seperator"><b> </b></div>
								<span style="color:red" class="error_message" id="invalidLogin_error_msg"></span>
								<div class="form-group">
									<input type="text" 
										class="form-control" 
										placeholder="Email" 
										id="email" 
										name="email"
										#username="ngModel"
										[(ngModel)]="userLoginModel.email"
										required="required">
									<span style="color:red" class="error_message" id="email_error_msg"></span>
								</div>
								<div class="form-group">
									<input type="password" 
										class="form-control" 
										placeholder="Password" 
										id="password" 
										name="password"
										#password="ngModel"
										[(ngModel)]="userLoginModel.password" 
										required="required">
									<span style="color:red" class="error_message" id="password_error_msg"></span>
								</div>
								<input type="submit" class="btn btn-primary btn-block" value="Login">
								<div class="form-footer">
									<a href="#">Forgot Your password?</a>
								</div>
							</form>
						</li>
					</ul>
				</li>
				<li class="nav-item">
					<a href="#" style="color:white" data-toggle="dropdown" class="btn btn-primary rounded-pill dropdown-toggle get-started-btn mt-1 mb-1">Sign up</a>
					<ul class="dropdown-menu form-wrapper" onclick= "event.stopPropagation()">					
						<li>
							<div *ngIf="!registeredStatus; else registeredBlock">
								<form #registerForm="ngForm" (ngSubmit)="onSubmitRegister(registerForm.value)" >
									<p class="hint-text">Fill in this form to create your account!</p>
									<div class="form-group">
										<input type="text" 
											class="form-control"
											id ="nameSU" 
											placeholder="Name" 
											name="nameSU" 
											#usernameSU="ngModel"
											[(ngModel)]="userSUModel.name"
											required="required">
										<span style="color:red" class="error_message" id="nameSU_error_msg"></span>
									</div>
									<div class="form-group">
										<input type="text" 
											class="form-control"
											id ="emailSU" 
											placeholder="Email" 
											name="emailSU" 
											#usernameSU="ngModel"
											[(ngModel)]="userSUModel.email"
											required="required">
										<span style="color:red" class="error_message" id="emailSU_error_msg"></span>
									</div>
									<div class="form-group">
										<input type="password" 
											class="form-control" 
											id="passwordSU" 
											placeholder="Password" 
											name="passwordSU" 
											#passwordSU="ngModel"
											[(ngModel)]="userSUModel.password"
											required="required">
										<span style="color:red" class="error_message" id="passwordSU_error_msg"></span>
									</div>
									<div class="form-group">
										<input type="password" 
											class="form-control" 
											id="confirmpasswordSU" 
											placeholder="Confirm Password" 
											name="confirmpasswordSU" 
											#confirmpassword="ngModel"
											[(ngModel)]="userSUModel.confirmpassword"
											required="required">
										<span style="color:red" class="error_message" id="confirmpasswordSU_error_msg"></span>
									</div>
									<div class="form-check">
										<input class="form-check-input" type="checkbox" [(ngModel)]="userSUModel.requestedAdminAccess" [ngModelOptions]="{standalone: true}" id="requestAdminCheckbox">
										<label class="form-check-label" for="flexCheckDefault">
										  Request Admin Privileges
										</label>
									</div>
									<br/>
									<!-- <div class="form-group">
										<label class="checkbox-inline"><input type="checkbox" required="required"> I accept the <a href="#">Terms &amp; Conditions</a></label>
									</div> -->
									<input  type="submit" class="btn btn-primary btn-block" value="Sign up">
								</form>
							</div>
							<ng-template #registeredBlock >You have Succesfully Registered. You can now Login!</ng-template>
						</li>
					</ul>
				</li>
			</ul>
		</div>
		<ng-template #loggedInBlock >
			<ul class="nav navbar-nav navbar-right ml-auto">
				<li class="nav-item active"><a class="nav-link" href="ProgramPlannerPage">Hello {{loggedInUser}} ({{userRole}}) </a></li>
				<li class="nav-item"><input (click)="onSubmitLogout()" type="submit" class="btn btn-primary btn-block" value="Sign Out"></li>			
			</ul>
		</ng-template>	
	</div>
</nav>
  
<router-outlet></router-outlet>